<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forms Builder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br> 
  <br>
  <strong id="present">Welcome to Forms Builder!</strong>
  
  <form id="form">
    <div id="list">
      <label id="item item-input">
        <span id="input-label">Username:</span>
      <br> 
        <input type="text" id ="username" placeholder="Enter Username">
      </label>
      <br> 
      <br> 
      <label id="item item-input">
        <span id="input-label">Password:</span>
      <br> 
        <input type="text" id="passsword" placeholder="Enter Password">
      </label>
      <br> 
      <input type="submit" id ="submit" >
    </div>  
  </form>
  <br> 
  <br>
  <strong id="present2">Here you`ll have the best experience to build forms as you want, just join us!</strong>
  <br>
  <a href="register.page.html">Register here!</a>
</ion-content>
